<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <style>
        form {
            max-width: 300px;
            margin: auto;
        }

        label, input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h2>Edit User</h2>
<br>
<form th:method="POST" th:action="@{/update}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${error != null}" th:text="${error}">Name is not correct</div>
    <br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div th:if="${error != null}" th:errors="*{age}">Age is not correct</div>
    <br/>
    <input type="hidden" th:field="*{id}"/>
    <input type="submit" value="Update User"/>
</form>
<form th:action="@{/}" method="GET">
    <input type="submit" value="Back to User List"/>
</form>
</body>
</html>